# Compiled files
*.o
*.o.*
*.a
*.so
*.so.dbg
*.bin
*~

# eclipse cruft
.settings
.cproject
.project

# scons cruft
.sconsign.dblite

# Be sure to include gitignore eventhough it is a dot file
!.gitignore

