# Compiled files
*.o
*.os
*.o.*
*.a
*.so
*.so.dbg
*.bin
*~

# python stuff
*.pyc
*.pyo

# eclipse cruft
.settings
.cproject
.project

# scons cruft
.sconsign
.sconsign.dblite

# Be sure to include gitignore eventhough it is a dot file
!.gitignore

